body {
  margin-top: 15px;
  font-family: 'Gill Sans', Verdana, sans-serif;
  font-size: 13px;
  background: white;
  color: black;
  background: #fff url('../img/brgrad.png') repeat-x scroll;
}

p { 
  padding-top: 0px; 
  margin-top: 0px;
}

ul {
  margin-left: 0;
  padding-left: 2.5em; 
}

a[href] { 
  text-decoration:none;
	color: #222; 
	border-bottom: solid thin #88c; 
	border-right: solid thin #88c; 
  color: #06c; 
  padding: 0px 4px;
}

a:hover {
  background: white;
	border-bottom: solid thin black; 
	border-right: solid thin black; 
}

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

.left {
  margin-left: 90px;
  margin-right: 80px;
  margin-top: 17px;
  float: left;
  border-right: 1px solid #CCC;
  padding-right: 20px;
  text-align:center
}

.left img {
  width: 250px;
  display:block;
  margin-top: 20px
}

.right {
  width: 350px; margin-top: 0px; margin-bottom: 0px; margin-right: 40px;
  float: left;
}

h1 {
  text-align:center
  font-family: "Optima", Verdana;
  font-size: 2em;
  color: #06c; 
  color: #050; 
  color: white;
  font-weight: normal;
  margin: 0px;
}

h2 {
  margin-top: 30px;
  font-size: 18px;
  color: #666;
}

h3 {
  padding: 0px;
  margin: 0px;
  color: #c60;
  margin-left: 5px;
}


h4 {
  padding: 0px;
  margin: 0px;
  color: #c60;
}

h4 + ul {
  margin-top:0;
}
