body {
  /*margin-top: 15px;*/
  margin:0;
  /*font-family: 'Gill Sans', Verdana, sans-serif;*/
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  background: white;
  color: black;
  background: #fff -webkit-linear-gradient(hsl(30, 69%, 83%), #eee 0.1%) repeat-x scroll;
}

p {
  padding-top: 0px;
  margin-top: 0px;
}

ul {
  margin-left: 0;
  padding-left: 2.5em;
}

a[href] {
  text-decoration:none;
	color: #222;
	/*border-bottom: solid thin #aad;*/
	/*border-right: solid thin #88c; */
  color: #06c;
  /*padding: 0px 4px;*/
}

a:hover {
  /*background: white;*/
  border-bottom: solid 2px #aeaeaf;
	/*border-bottom: solid thin black; */
	/*border-right: solid thin black; */
}

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .right, .left {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .left {
    width: 175px;
    padding-left: 30px;
    padding-right: 20px;
    position: fixed;
    top:0px;
    height: 100%;
  }

  .left img {
    display:block;
  }

  .right {
    padding-left: 265px;
    width: 400px;
  }

  .narrow {
    width: 350px;
  }
}

@media (min-width: 800px) {
  .right {
    left: 330px;
    width: 500px;
  }
}

.right {
    font-size: 14px;
    color: hsl(60, 1%, 15%);
}

body {
  height: 100%;
  position: absolute;
}

.left {
  padding-top: 20px;
  line-height: 1.5em;
/*  background: #f9f9f9;*/
  
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg==);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==);
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPg0KICA8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjZmZmIi8+DQogIDxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIwLjUiIHN0cm9rZT0iI2NjYyIvPg0KPC9zdmc+);
  background-repeat: repeat;
  text-shadow: white 0px 0px 3px;
  font-weight: bold;
}

.left a { 
  color: black;
}

.right div.me_photo {
  width: 250px;
  height: 300px;
  margin: 20px 0px;
  /*border-radius: 10px;*/
  /*box-shadow: inset hsla(40, 100%, 6%, 0.37) 0px 0px 5px 1px;*/
  background: url(../smallme.jpg);
  background-size: cover;
}


.right p {
  line-height: 1.35;
}

p.first {
      color: hsl(228, 0%, 26%);
    font-size: 22px;
    max-width: 400px;
    text-shadow: white 0px 0px 2px;
}





h1 {
  text-align:center
/*  font-family: "Optima", Verdana;*/
  font-size: 2em;
  line-height: 1.2em;
  color: #06c;
  color: #050;
  color: black;
  font-weight: bold;
  margin: 0px;
  color: rgb(92, 89, 89);
  margin-top: 5px;
}

#render h2 {
  margin-top: 20px;
  font-size: 17px;
  color: #c60;
}

h2 + h3 {
  margin-top: 0px;
}

#render h3 {
  margin-top: 30px;
  font-size: 18px;
  color: #c60;
}

#render h4 {
  margin-top: 50px;
}

h4 + ul {
  margin-top:0;
}


.only-game .right > p, .only-game .right > ul { display:none; }
.only-game .right > p.game, .only-game .right > h4.game, .only-game .right > ul.game { display:block; }

.only-tech .right > p, .only-tech .right > ul, .only-tech .right > h4 { display:none; }
.only-tech .right > p.tech, .only-tech .right > h4.tech, .only-tech .right > ul.tech { display:block; }

.right > p.open, .right > ul.open { display:block; }

.only-tech #clickers .tech { background: white }
.all #clickers .all { background: white }
/*.only-tech #clickers.tech  { background: white };*/

#clickers {
  background: #ddd;
  color: #777;
  padding: 5px 0px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
}

#clickers a {
  color: #77d;
  border: none;
  padding: 4px 7px;
}


.right section > a { text-decoration:none; border-bottom: none; }
#render section { margin: 0px 20px;  }
#render section h2 { margin:10px 0px; font-size: 22px; color: #b67d18; font-weight: normal; }
article { min-height: 100px; min-width: 100px;  margin:15px 15px; vertical-align: top; width: 200px; }
article img {
  max-height: 50px; max-width: 180px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  border: solid thin hsl(0, 0%, 57%);
}
article h2 { margin:0; font-size: 16px; color: #222; margin-top: 4px; margin-bottom: 1px; }
article p { margin:0; font-size: 14px; color: rgb(92, 89, 89); }



.researchItem {
  padding: 5px 10px;
  display: flex;
  align-content: center;
/*  background: hsla(0, 100%, 100%, 0.69);*/
/*  border-top: solid thin hsla(0, 1%, 79%, 0.6);*/
}

.research img {
width: 60px;
height: 60px;
border-radius: 50%;
flex: auto 0 0;
background: hsl(0, 100%, 100%);
/*box-shadow: hsl(0, 0%, 42%) 0px 1px 3px;*/
margin: 2px;
margin-right: 13px;
}

.researchItem div {
  align-self: center;
}

h3 {
margin-bottom: 0px;
padding-left: 10px;
text-shadow: hsla(0, 100%, 100%, 0.72) 0px 1px 1px;
margin-top: 6px;
color: hsl(0, 1%, 13%);
/*background: hsla(60, 12%, 86%, 0.33);*/
padding: 6px 10px;
padding-bottom: 6px;
/*box-shadow: inset hsla(0, 0%, 0%, 0.06) 0px -2px 2px;*/
}

.research section {
  overflow: hidden;
  margin: 30px 0px;
  margin-bottom: 0px;
}

.research .list {
/*  background: hsl(207, 3%, 91%);*/
  /*border-radius: 4px;*/
  /*box-shadow: hsla(0, 0%, 0%, 0.38) 0px 1px 3px;*/
  overflow: hidden;
  margin-bottom: 5px;
}

.research .title {
color: hsl(226, 70%, 32%);
font-weight: bold;
font-size: 12px;
}

.research .desc {
  color: #666;
}

.research h2 {
  /*text-align: center;*/
  margin-bottom: 3px;
}

.research p {
  color: #666;
  font-size: 13px;
  margin-bottom: 25px;
}

.research {
  margin-bottom: 60px;
}

span.readtime {
  color: hsl(0, 0%, 50%);
  font-size: 11px;
  font-weight: normal;
  margin-left: 10px;
  white-space: nowrap;
}

span.tag {
  color: hsla(235, 87%, 37%, 0.74);
  border-radius: 5px;
  background: hsla(219, 100%, 50%, 0.21);
  text-transform: uppercase;
  margin-left: 10px;
  padding: 0px 4px;
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
  text-shadow: hsl(219, 93%, 91%) 0px 0px 1px;
}

div.screenful {
  min-height: 100%;
  padding: 100px 0px;
}

.left span.yay {
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  display: block;
}