body {
  /*margin-top: 15px;*/
  margin:0;
  font-family: 'Gill Sans', Verdana, sans-serif;
  font-size: 13px;
  background: white;
  color: black;
  background: #fff -webkit-linear-gradient(hsl(30, 69%, 83%), #eee 0.1%) repeat-x scroll;
}

p {
  padding-top: 0px;
  margin-top: 0px;
}

ul {
  margin-left: 0;
  padding-left: 2.5em;
}

a[href] {
  text-decoration:none;
	color: #222;
	border-bottom: solid thin #aad;
	/*border-right: solid thin #88c; */
  color: #06c;
  /*padding: 0px 4px;*/
}

a:hover {
  /*background: white;*/
  border-bottom: solid thin #22c;
	/*border-bottom: solid thin black; */
	/*border-right: solid thin black; */
}

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .right {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 600px) {
  .left {
    margin-left: 30px;
    margin-right: 20px;
    float: left;
  }

  .left img {
    display:block;
  }

  .right {
    float: left;
    max-width: 500px;
    margin-left: 30px;
  }

  .narrow {
    width: 350px;
  }
}

.right {
    margin-top: 22px;
    font-size: 14px;
    color: hsl(60, 1%, 15%)
}

.left {
    margin-top: 0px;
    text-align:center
}

.left div.photo {
  width: 250px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: inset hsla(40, 100%, 6%, 0.37) 0px 0px 5px 1px;
  background: url(../smallme.jpg);
  background-size: cover;
}


.right p {
  line-height: 1.35;
}

p.first {
      color: hsl(228, 0%, 26%);
    font-size: 22px;
    max-width: 400px;
    text-shadow: white 0px 0px 2px;
}





h1 {
  text-align:center
  font-family: "Optima", Verdana;
  font-size: 2em;
  color: #06c;
  color: #050;
  color: black;
  font-weight: normal;
  margin: 0px;
  color: rgb(92, 89, 89);
}

h2 {
  margin-top: 20px;
  font-size: 17px;
  color: #c60;
}

h2 + h3 {
  margin-top: 0px;
}

h3 {
  margin-top: 30px;
  font-size: 18px;
  color: #c60;
}

h4 {
  margin-top: 50px;
}

h4 + ul {
  margin-top:0;
}


.only-game .right > p, .only-game .right > ul { display:none; }
.only-game .right > p.game, .only-game .right > h4.game, .only-game .right > ul.game { display:block; }

.only-tech .right > p, .only-tech .right > ul, .only-tech .right > h4 { display:none; }
.only-tech .right > p.tech, .only-tech .right > h4.tech, .only-tech .right > ul.tech { display:block; }

.right > p.open, .right > ul.open { display:block; }

.only-tech #clickers .tech { background: white }
.all #clickers .all { background: white }
/*.only-tech #clickers.tech  { background: white };*/

#clickers {
  background: #ddd;
  color: #777;
  padding: 5px 0px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
}

#clickers a {
  color: #77d;
  border: none;
  padding: 4px 7px;
}


.right section > a { text-decoration:none; border-bottom: none; }
section { margin: 0px 20px;  }
section h2 { margin:10px 0px; font-size: 22px; color: #b67d18; font-weight: normal; }
article { min-height: 100px; min-width: 100px;  margin:15px 15px; vertical-align: top; width: 200px; }
article img {
  max-height: 50px; max-width: 180px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  border: solid thin hsl(0, 0%, 57%);
}
article h2 { margin:0; font-size: 16px; color: #222; margin-top: 4px; margin-bottom: 1px; }
article p { margin:0; font-size: 14px; color: rgb(92, 89, 89); }
