@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  margin:0;
  margin-left: 200px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: black;
}

@media (max-width: 860px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
  }
}

p {
  padding-top: 0px;
  margin-top: 0px;
  max-width: 600px;
}

.Game p {
  margin-bottom: 7px;
}

ul {
  margin-left: 0;
  padding-left: 2.5em;
}

a[href] {
  text-decoration:none;
	color: #222;
  color: #06c;
}

a:hover {
  border-bottom: solid 2px #aeaeaf;
}


h1 {
  text-align:center
  font-size: 2em;
  line-height: 1.2em;
  color: #06c;
  color: #050;
  color: black;
  font-weight: bold;
  margin: 0px;
  color: rgb(92, 89, 89);
  margin-top: 45px;
}

h1 small {
  display: block;
  font-size: 15px;
  font-weight: normal;
}

h2 {
  font-size: 23px;
  color: #c60;
  margin-bottom: 0;
}

h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 43%);
  /*padding-bottom: 6px;*/
  /*font-weight: normal;*/
  /*text-decoration: underline;*/
  font-family: "Indie Flower";
  font-size: 18px;
  transform: rotate(-1deg);
}

dl { margin: 0; }
dd, dt { display: inline; }
dd {
  font-size: 10px;
  white-space: nowrap;
  margin-left: 0px;
}

dd span {
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 6px;
  padding: 1px 4px;
  text-shadow: hsla(0, 0%, 0%, 0.36) 0px 0px 1px;
  color: hsla(327, 100%, 98%, 1);
  background: hsla(218, 100%, 74%, 1);
}

dt {
  color: gray;
  text-transform: uppercase;
  font-size: 10px;
}

dd + dt {
  margin-left: 20px;
}


.Society {
  padding-top: 23px;
}


.Game {
  margin: 18px 0px;
  padding: 5px 10px;
  min-height: 60px;
  border-left: solid 2px rgb(205, 205, 205);
  background: rgba(255, 239, 199, 0.44);
  max-width: 600px;
  color: #555;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 7px;
  transform: rotate(-1deg);
}

h4 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 8px;
  font-family: "Indie Flower";
  /*font-weight: normal;*/
  color: #000;
}

h4 span.attribution {
  color: #aaa;
  font-weight: normal;
}


.thumbnails {
  padding: 0;
  list-style: none;
}

.Intro, .Outro {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #666;
}

h1 {
  margin-bottom: 15px;
}

.blurb {
  margin-top: 10px;
  line-height: 1.3;
  color: rgb(115, 115, 115);
  max-width: 520px;
  font-family: "Indie Flower";
  border-left: 4px #ddd solid;
  padding-left: 20px;
}

.Outro.blurb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blurb em {
  color: rgb(84, 84, 84);
  font-weight: bold;
}

div.me_photo {
  width: 80px;
  height: 80px;
  margin: 10px;
  background: url(../img/joe.jpg);
  background-size: cover;
  position: absolute;
  border-radius: 100px;
  /*left: 0px;*/
  /*top: 0px;*/
  opacity: 0.7;
  left: 94px;
  top: 38px;
}

div.me_photo:hover {
  opacity: 1.0;
}

ul a {
  font-weight: bold;
  color: #06c;
  font-size: 15px;
}

.byline {
  margin-top: 3px;
  color: #605d56;
  line-height: 1.4;
}
