body > textarea { display: none; }

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('cm/cmunrm.eot');
    src: url('cm/cmunrm.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunrm.woff') format('woff'),
         url('cm/cmunrm.ttf') format('truetype'),
         url('cm/cmunrm.svg#cmunrm') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('cm/cmunbx.eot');
    src: url('cm/cmunbx.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunbx.woff') format('woff'),
         url('cm/cmunbx.ttf') format('truetype'),
         url('cm/cmunbx.svg#cmunbx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('cm/cmunti.eot');
    src: url('cm/cmunti.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunti.woff') format('woff'),
         url('cm/cmunti.ttf') format('truetype'),
         url('cm/cmunti.svg#cmunti') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Serif';
    src: url('cm/cmunbi.eot');
    src: url('cm/cmunbi.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunbi.woff') format('woff'),
         url('cm/cmunbi.ttf') format('truetype'),
         url('cm/cmunbi.svg#cmunbi') format('svg');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Computer Modern Sans';
    src: url('cm/cmunss.eot');
    src: url('cm/cmunss.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunss.woff') format('woff'),
         url('cm/cmunss.ttf') format('truetype'),
         url('cm/cmunss.svg#cmunss') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('cm/cmunsx.eot');
    src: url('cm/cmunsx.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunsx.woff') format('woff'),
         url('cm/cmunsx.ttf') format('truetype'),
         url('cm/cmunsx.svg#cmunsx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('cm/cmunsi.eot');
    src: url('cm/cmunsi.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunsi.woff') format('woff'),
         url('cm/cmunsi.ttf') format('truetype'),
         url('cm/cmunsi.svg#cmunsi') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('cm/cmunso.eot');
    src: url('cm/cmunso.eot?#iefix') format('embedded-opentype'),
         url('cm/cmunso.woff') format('woff'),
         url('cm/cmunso.ttf') format('truetype'),
         url('cm/cmunso.svg#cmunso') format('svg');
    font-weight: bold;
    font-style: italic;
}



html, body {
    margin: 0;
    padding: 0;
    /*font: normal 13px/1.65 "PT Sans", serif;*/  /* bret prefers */
    font: 16px/1.65 "Computer Modern Sans";  /* but knuthie wins */
    background-color: white;
    color: #373737;
}
.movie {
    display: inline-block;
    padding-left: 100px;
    background: transparent url(play.png) no-repeat 25px top;
    margin-left: -100px;
    min-height: 50px;
    position: relative;
}
.movie:hover:after {
    color: #bbb;
}
.movie:after {
    content: "Hover or tap";
    position: absolute;
    left: 22px;
    top: 53px;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ccc;
}
.movie.playing {
    background-image: url(play-depressed.png);
}
.movie.playing img {
    cursor: none;
     transition : border 300ms ease-out;
    -webkit-transition : border 300ms ease-out;
    -moz-transition : border 300ms ease-out;
    -o-transition : border 300ms ease-out;
}
.movie.playing:hover img {
    border-color: #d4d4d4;
}
::selection {
    color: black;
    background-color: rgb(202, 230, 255);
}
h2 {
    border-bottom: 1px solid hsl(0,0%,60%);
    /*border-left: 1.4em solid hsl(0,0%,60%);*/
    /*padding-left: 12px;*/
    margin: 2em 0 0 0;
    /*font-family: Georgia, "Times New Roman", serif;*/
    font-size: 18px;
    color: hsl(120, 100%, 17%);
    margin-left: -10px;
    font-weight: normal;
}
h1 {
    font-size: 52px;
    font-size: 25px;
    /*font-family: Georgia, "Times New Roman", serif;*/
    margin: 0;
}
.header {
    line-height: 1.15;
    padding: 30px 0 25px 100px;
    padding-left: 0px;
    padding-right: 0px;
    /*background-image: url(old_mathematics.png);*/
    /*box-shadow: 0 0 10px #ADADAD inset;*/
    /*margin-bottom: 35px;*/
    /*background-position: 94px 147px;*/
    text-shadow: 1px 1px #fff;
    color: #444;
}
.header h1 {
    color: #444;
}
.header h2 {
    color: #444;
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
}
.header h3 {
    display: inline-block;
    color: rgb(149, 158, 160);
    text-shadow: 1px 1px white;
    font-size: 12px;
    font-weight: normal;
    /*font-family: Georgia, "Times New Roman", serif;*/
    /*margin: 0 0 0 92px;*/
}
.header h3 a {
    color: inherit;
    text-decoration: none;
}
.header h3 a:hover {
    text-decoration: underline;
    color: #333;
}

.header p {
  margin-top:0px;
  font-size: 14px;
  color: #999;
  text-align: left;
  /*max-width: 420px;*/
}

h1, h2, strong, b {
    color: black;
    color: hsl(120, 100%, 17%);
}

p img {
    border: 1px solid #eee;
}
.sidenote {
    color: #aaa;
    line-height: 1.5;
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    /*margin-top: 23px;*/
    background:white;
    padding: 5px;
    border-left: yellow 2px solid;
    display: inline;
}
.sidenote.zoomed {
    left: 820px;
}

.sidenote a {
    color: inherit;
}
.sidenote a:visited {
    color: #bbb;
}
.sidenote a:hover {
    color: #999;
}
p {
    margin: 20px 0;
    text-align: justify;
    word-spacing: -1px;
}


/* not a good idea for real */
p img {
    max-width: 400px;
    margin-left: 10px;
    vertical-align: middle;
    box-shadow: rgb(111, 111, 111) 0px 1px 2px;
    cursor: pointer;
    cursor: -webkit-zoom-in;
}



p img.smaller {
    max-width: 200px;
}

.ack {
    padding-top: 10px;
    margin-top:50px;
    border-top: solid thin #bbb;
    color: #aaa;
}
.ack a {
    color: #88f;
    text-decoration: none;
}

.highlight {
    background: rgba(255, 255, 0, 0.12);
    margin: -10px;
    padding: 10px;
}





@media screen {
    p img.zoomed, p img.smaller.zoomed {
        max-width: none;
        margin-left: 0px;
        cursor: -webkit-zoom-out;
    }
}

@media screen and (min-width: 500px) {
    body {
        width: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }
  .sidenote {
      width: auto;
  }
}


@media screen and (min-width: 700px) {
    body {
        width: 550px;
        margin-left: 100px;
    }
    .sidenote {
        position: absolute;
        left: 690px;
        width: 230px;
    }
    p img:first-child {
        /*margin-left: 40px;*/
    }
}


@media screen and (max-width: 499px) {
  body {
    width:auto;
    margin: 0px 10px;
  }
  .sidenote {
      width: auto;
  }
  p img {
      max-width: 90%;
      margin: 0px 10px;
  }
}

@media print {
    p img {
        max-height: 150px;
    }
    body {
        width: auto;
        margin: 0px 10px;
        width: 70%;
        /*columns: 2;*/
        /*-webkit-columns: 2;*/
    }
    .header {
        padding-left: 10px;
    }
}

strong a, p > em:first-child > a {
    text-decoration: none;
}

p > em:first-child > a {
    color: #333    ;
}


a, a:visited {
    color: hsl(211, 53%, 49%);
}

ul {
    padding-left: 14px;
    list-style: square  url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
    margin-top: -15px;
}

#abstract {
    font-size: 15px;
}

header + h2 {
    margin-top: 1em;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
}

h3 em, h2 em {
    display:block;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    color: hsl(0, 0%, 64%);
}

h4 {
    margin-top: 30px;
color: hsl(120, 100%, 17%);
margin-bottom: -13px;
}




ul.thumbnails {
  list-style: none;
  margin: 10px;
  margin-left: 20px;
  padding:0;
  margin-bottom: 40px;
}

ul.thumbnails a {
  text-decoration: none;
}

ul.thumbnails li {
  display: inline-block;
  text-align: center;
  margin-right: 18px;
  vertical-align: top;
}

ul.thumbnails li p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  max-width: 140px;
  line-height: 1.25;
  margin-top: 5px;
}

ul.thumbnails li img {
  height: 81px;
  width: 145px;
}

p.desc + ul.thumbnails {
  margin-top: 10px;
}

.csoon {
  height: 81px;
  width: 145px;
  background: #f5f5f5;
  color: #BEBCBC;
  border: solid thin #ddd;
  vertical-align: middle;
  line-height: 81px;
  font-size: 11px;
  text-transform: uppercase;
}

h3 + p.desc {
  margin-top:-20px;
  color: #999;
  font-size: 14px;
}

.playthumb {
  background-size:cover; width:145; height: 81;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.playthumb:after {
  content: '';
  background-image: url('../img/play.png');
  display: block;
  height: 35px;
  width: 35px;
  background-size: cover;
}





.researchItem {
  padding: 5px 0px;
  display: flex;
/*  align-content: center;*/
  min-height: 60px;
/*  background: hsla(0, 100%, 100%, 0.69);*/
/*  border-top: solid thin hsla(0, 1%, 79%, 0.6);*/
}

.research img {
width: 60px;
height: 60px;
flex: auto 0 0;
box-shadow: hsl(0, 0%, 42%) 0px 1px 3px;
margin-left: 13px;
  margin-right: 2px;
}

.researchItem > div {
  flex: auto 1.0 1.0;
}

.research section {
  overflow: hidden;
  margin: 30px 0px;
  margin-bottom: 0px;
}

.research .list {
/*  background: hsl(207, 3%, 91%);*/
  /*border-radius: 4px;*/
  /*box-shadow: hsla(0, 0%, 0%, 0.38) 0px 1px 3px;*/
  overflow: hidden;
  margin-bottom: 5px;
}

.research .title {
color: hsl(205, 81%, 42%);
font-weight: bold;
font-size: 12px;
}

.research .desc {
  color: #666;
}

.research h2 {
  /*text-align: center;*/
  margin-bottom: 3px;
}

.research p {
  color: #666;
  font-size: 13px;
  margin-bottom: 25px;
}

.research {
  margin-bottom: 60px;
}

span.readtime {
  color: hsl(0, 0%, 50%);
  font-size: 11px;
  font-weight: normal;
  margin-left: 10px;
  white-space: nowrap;
}

span.tag {
  color: hsla(235, 87%, 37%, 0.74);
  border-radius: 5px;
  background: hsla(219, 100%, 50%, 0.21);
  text-transform: uppercase;
  margin-left: 10px;
  padding: 0px 4px;
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
  text-shadow: hsl(219, 93%, 91%) 0px 0px 1px;
}



div.me_photo {
  width: 100px;
  height: 100px;
  margin: 10px;
  /* border-radius: 10px; */
  box-shadow: inset hsl(0, 100%, 100%) 0px 0px 7px 1px, rgba(0, 0, 0, 0.43) 0px 0px 5px;

  /*inset hsla(40, 100%, 6%, 0.37) 0px 0px 5px 1px;*/
  background: url(../img/joe.jpg);
  background-size: cover;
  position: absolute;
  border-radius: 100px;
}

div.me_contact {
  position: absolute;
  left: 120px;
  top: 20px;
  color: #ccc;
}

div.me_contact a, div.me_contact b {
  color: #777;
}

.projects {
  padding-top: 150px;
  margin-left: 100px;
}

.projects.top {
  padding-top: 20px;
  margin-left: 130px;
}


.projectBanner > b{
  position:absolute;
  font-size: 12px;
  display: block;
  right:-4px;
  top: -18px;
  color: #ccc;
  font-weight: normal;
}

.projectBanner > h2 {
  margin: 0px 0px 5px 0px;
  color: #444;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
}

a.projectBanner{
  position: relative;
  display: inline-block;
  width: 330px;
  vertical-align: top;
  color: #666;
  line-height: 1.2em
}

.projectBanner:first-child {
  margin-right: 70px;
}

.projectBanner img {
  max-width: 100%;
  display: block;
  /* text-align: center; */
  /* margin: auto; */
  border-radius: 5px;
}
