body { font-family: sans-serif; font-size: 13px; color: #333; padding: 0px 10px; }

aside { display: inline-block; width: 156px; text-align: center; margin-right: 25px; padding-top: 50px; }
article { display:inline-block; max-width: 450px; font-size: 16px;  vertical-align: top; }


aside img { width: 156px; border-radius: 5px; }
aside h2 { font-size: 16px; margin-top: 0px; margin-bottom: 0px; }


a { text-decoration: none; color: #06c; }
a:hover { text-decoration: underline; }
hr { border-top: 1px solid #eee; margin: 30px }
ul li { margin-bottom: 6px; }
p#fields {
  line-height: 1.4;
}
p#fields a {
  white-space: nowrap;
  border-radius: 3px;
  background-color: hsl(210, 100%, 90%);;
  color: #000;
  padding: 0px 3px;
}
p#fields a:hover {
  transition: background-color 0.15s cubic-bezier(0.68, -2.55, 0.265, 2.55);;
  background-color: hsl(210, 100%, 70%);
  text-decoration: none;
}

@media (max-width: 500px) {
  aside, article {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 10px;
    min-width: 100%;
    box-sizing: border-box;
  }
}

.card {
  position: relative;
  width: 208px;
  display: inline-block;
  box-shadow: black 0px 0px 1px;
  margin-right: 10px;
  margin-bottom: 15px;
  vertical-align: top;
  height: 142px;
  overflow: hidden;
}

.card img {
  position: relative;;
  top:0px;
  height: 100%;
  opacity: 1.0;
}

.card h3 {
  padding: 4px 10px;
  margin:0;
  font-size: 18px;
  text-shadow: white 0px 1px 2px;
  color: rgb(70, 70, 70);;
  z-index: 100;
  position: absolute;
  font-weight: normal;
  bottom: 0px;
  background: rgba(255,255,255,0.8);
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0.2) 0px -1px 2px;
}

.card p {
  color: gray;
  position: relative;
  margin: 0;
  padding: 2px 10px;
}

.card:hover { text-decoration: none; }

.card img:hover { opacity: 0.4 }
